<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

</head>
<h1>Consultar Detalhe Pedido</h1>

<br />
<label>Filtrar Pedido<input class="form-control" type="text" ng-model="filtro"></label><br>
<br />

<div ng-controller="lojaController" ng-init="listarItemPedidos()">

	<div class="content table-responsive table-full-width">
		<table class="table table-hover">
			<thead>
			    <th>Pedido</th>
				<th>Seq</th>
				<th>Item</th>
			</thead>
			<tbody>
				<tr ng-repeat="itempedido in itemPedidosData | filter:pedido.id"> 
					<td>{{itempedido.pedido.id}}</td>
					<td>{{itempedido.id}}</td>
					<td>{{itempedido.livro.id}}</td>
					<td>{{itempedido.livro.titulo}}</td>
					
				</tr>
			</tbody>
		</table>
	</div>

</div>

					      
					     
					 
			



</html>